	#main .ul{
		width: 910px;
		height: 350px;
		margin: 0 auto;
	}
	#main a{
		float: left;
		width: 182px;
		height: 350px;
		background: center;
		transition: width linear .5s;
		/* display: block; */
		position: relative;
	}
	#main .ul a span {
		position: absolute;
		width: 120px;
		height: 30px;
		border: 2px solid #fff;
		color: #fff;
		line-height: 30px;
		text-align:center;
		bottom: 30px;
		left: 50%;
		margin-left: -60px;
	}