	#main ul{
		width: 910px;
		margin: 0 auto;
	}
	#main a{
		position: relative;
	}
	#main a:hover img {
		opacity: .8;
	}
	#main ul li{
		float: left;
	}
	#main ul li span {
		position: absolute;
		width: 120px;
		height: 30px;
		border: 2px solid #fff;
		color: #fff;
		line-height: 30px;
		text-align:center;
		bottom: 30px;
		left: 50%;
		margin-left: -60px;
	}
	#main ul li img{
		width: 182px;
		height: 350px;
    opacity: 1;
    margin-left: 0px;
    background-image: url("img/pro.jpg");
    background-position: 50% 0px;
    background-repeat: no-repeat;
	}